body{
    font: 15px sans-serif;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.circle{
    position: absolute;
}

.key .tick{
    cursor: ew-resize;
}

#colorbrewer_selection{
    postition: absolute;
    left: 200px;
}

#radius_input_form{
    position: absolute;
    left: 400px;
    top: 300px;
}

#epsilon_input_form{
    position: absolute;
    left: 400px;
    top: 340px;
}


#std_input_form{
    position: absolute;
    left: 400px;
    top: 260px;
}

#sample_size {
    position: absolute;
    left: 700px;
    top: 310px;
}

#full_size {
    position: absolute;
    left: 900px;
    top: 310px;
}

#sample_time {
    position: absolute;
    left: 700px;
    top: 330px;
}

#full_time {
    position: absolute;
    left: 900px;
    top: 330px;
}


#coreset div {
    position: absolute;
}
#coreset svg {
    position: absolute;
    z-index: -1;
}

#coreset div canvas {
  position: absolute;
}

#coreset .color_bar_svg{
    position: absolute;
    left:700px;
}

#coreset #color_bar_new{
    position: absolute;
    left:350px;
    top: 450px;
    z-index:10;
}

#full .color_bar_svg{
    position: absolute;
    left:1500px;
}


#full div {
    position: absolute;
    top: -200;
}
#full svg {
    position: absolute;
    z-index: -1;
}

#full div canvas {
  position: absolute;
}


.button_div{
    height: 200px;
    width: 1400px;
}

.set_div{
    height: 700px;
    width: 800px;
}

#drop_zone{
    border-radius: 25px;
    border: 2px solid #73AD21;
    width: 100px;
}

/* #full{ */
/*     position:relative; */
/*     y: 200px; */
/* } */

.view{
    fill: #BBB;
    stroke: #000;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.group-tick line {
  stroke: #000;
}

button{
    position: absolute;
    Top: 245px;
    left: 190px;
}

/* #epsilon-button{ */
/*     position: absolute; */
/*     top: 44px; */
/*     left: 200px; */
/* } */

/* #tao{ */
/*     position: absolute; */
/*     top: 44px; */
/*     left: 340px; */
/* } */


.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 20px 4px 20px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 40px;
  height: 20px;
}
