body{
    font: 15px sans-serif;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0px 5px 5px 2px #888888;
    border-radius: 25px;
    width: 80%;
    height: 30%;
}



/* .circle{ */
/*     position: relative; */
/* } */

td{
    border: 0px;
    width: 30%;
}

.key .tick{
    cursor: ew-resize;
}

#colorbrewer_selection{
    postition: relative;
    left: 200px;
}

#radius_input_form{
    position: relative;
}

#epsilon_input_form{
    position: relative;

}


#std_input_form{
    position: relative;

}

#tau_input_form{
    position: relative;
}

#sample_size {
    position: relative;
}

#full_size {
    position: relative;
}

#sample_time {
    position: relative;
}

#full_time {
    position: relative;
}


#coreset div {
    position: relative;
}
#coreset svg {
    position: relative;
    z-index: 1;
}

#coreset div canvas {
  position: relative;
}

#coreset .color_bar_svg{
    position: relative;
}

#color_bar_new{
    position: relative;
    z-index:10;
    top: 37px;
    left: 8%;
}

#full .color_bar_svg{
    position: relative;
}


#full div {
    position: relative;
}
#full svg {
    position: relative;
    z-index: -1;
}

#full div canvas {
  position: relative;
}


.button_div{
    height: 20%;
    width: 100%;
}

.set_div{
    height: 900px;
    width: 700px;
}

/* #drop_zone{ */
/*     border-radius: 25px; */
/*     border: 2px solid #73AD21; */
/*     width: 100px; */
/* } */

/* #full{ */
/*     position:relative; */
/*     y: 200px; */
/* } */

.view{
    fill: #BBB;
    stroke: #000;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
  z-index: 10;
}

.group-tick line {
  stroke: #000;
}

#compare_btn{
    position: relative;
}

/* button{ */
/*     position: relative; */
/*     Top: 245px; */
/*     left: 190px; */
/* } */


/* #epsilon-button{ */
/*     position: absolute; */
/*     top: 44px; */
/*     left: 200px; */
/* } */

/* #tao{ */
/*     position: absolute; */
/*     top: 44px; */
/*     left: 340px; */
/* } */

.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 1% 1% 0.5% 0.5%;
  padding: 0.2%;
  width: 3.3%;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 20px;
}
